<section class="section counter-section">
  <div class="container">
    <div class="box">
      <nav class="level">
        {% for count in site.data.campaign.options.counts %}
        <div class="level-item has-text-centered">
          <div>
            <p class="heading">{{ count.label }}</p>
            <p><span class="title is-1" id="{{ count.id }}">{{ count.value }}</span>{% if count.context %}{{ count.context }}{% endif %}</p>
          </div>
        </div>
        {% endfor %}
      </nav>
    </div>
  </div>
</section>
